body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6, hr {
    padding: 0;
    margin: 0;
}

hr {
    border: none;
    background: none;
    border-bottom: 1px solid;
}

button {
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    color: #E22C38;
    background: transparent;
    padding: 0.71rem 1.43rem;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;

    transition: background-color 0.2s;
}

button:hover {
    background: #eee;
}

.btn__raised {
    color: white;
    background: #E22C38;
}

.btn__raised:hover {
    background: #b2212b;
}



.btn-group > button {
    float: left;
    border-radius: 0;
}

.btn-group > button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-group > button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.chip-group {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: stretch; */
    gap: 5px;
    /* justify-content: center; */
    border-radius: 8px;
    overflow: hidden;
}

.chip-group > button {
    /* flex: 1; */
}



.btn__toggle {
    background: white;
    color: #262626;
}

.btn__toggle.btn__toggle--active {
    color: white;
    background: #E22C38;
}


.btn__icon {
    padding: 0.71rem;
}


.btn__chip {
    background: #F5F5F5;
    color: #262626;
    font-weight: 600;
    border-radius: 8px;
}

.btn__chip.btn__chip--toggled {
    background: #E22C38;
    color: white;
}
