body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6, hr {
    padding: 0;
    margin: 0;
}

label, button, input {
    font-size: 1rem;
    line-height: 1rem;
}

hr {
    border: none;
    background: none;
    border-bottom: 1px solid;
}

button {
    box-sizing: border-box;
    display: inline-block;
    font-weight: 600;
    border: none;
    outline: none;
    color: #E22C38;
    background: transparent;
    padding: 11px 22px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;

    transition: all 0.2s;
}

button:hover {
    background: #eee;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    min-height: 700px;

    min-width: 300px;
    max-width: 600px;

    margin: 0 auto;
    padding: 0 32px;
}

.btn__raised {
    color: white;
    background: #E22C38;
}

.btn__raised:hover {
    background: #b2212b;
}



.btn-group > button {
    float: left;
    border-radius: 0;
}

.btn-group > button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-group > button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.chip-group {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: stretch; */
    gap: 5px;
    /* justify-content: center; */
    border-radius: 8px;
    overflow: hidden;
}

.chip-group > button {
    /* flex: 1; */
}



.btn__toggle {
    background: white;
    color: #262626;
}

.btn__toggle.btn__toggle--active {
    color: white;
    background: #E22C38;
}

.btn__icon {
    padding: 10px;
}


.btn__chip {
    background: #F5F5F5;
    color: #262626;
    font-weight: 600;
    border-radius: 8px;
    /* border: 1px solid transparent; */
}

.btn__chip.btn__chip--toggled {    
    /* border-color: #E22C387f; */
    background: #e22c381f;
    color: #e22c38 
}

.field {
    height: 60px;
    width: 100%;
    position: relative;
}

.field input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    outline: none;

    padding-left: 1rem;
    padding-right: 3.5rem;

    border: 2px solid lightgrey;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.field input:focus,
.field input:valid {
    border-color: black;
}

.field label {
    position: absolute;
    top: 50%;
    left: 1rem;
    color: #999999;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.field input:focus ~ label,
.field input:valid ~ label {
    top: 0%;
    padding: 8px;
    font-size: 1.1rem;
    color: black;
    background: #fff;
}

.additional-button {
    color: #E22C38;
    text-decoration: none;
    font-weight: 600;
}

.btn-primary {
    width: 370px;
    height: 4rem;
    padding: 0;
    font-weight: 600;
}   

.btn-secondary {
    width: 370px;
    height: 4rem;
    padding: 0px;
    font-weight: 600;

    color: #262626;
    background: #F5F5F5;
}

.btn-secondary:hover {
    background: #d8d5d5;
}

.heading-with-lines {
    overflow: hidden;
    text-align: center;
    font-size: 1.25rem;

    color: #999999;
}

.heading-with-lines:before,
.heading-with-lines:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #999999;
    position: relative;
}

.heading-with-lines::before {
    margin-left: -100%;
    left: -14px;
}

.heading-with-lines::after {
    margin-right: -100%;
    right: -14px;
}

.emblem {
    margin: 0 auto;
    margin-bottom: 30px;

    max-width: 179px;
    max-height: 197px;
}


.list-item__title {
    font-size: 1rem;
    font-weight: 600;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    
    
    font-size: 0.8rem;
    color: #929292;
    text-transform: uppercase;

    padding-left: 8px;
}

.list-item__title:first-child {
    padding-top: 0;
}


.path-tuning-component {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 30vw;
    width: 420px;
}

.ptcomponent-content {
    max-height: calc(100vh - 146px);

    margin: 10px 0; 
    background: #fff;
    border-radius: 20px;
    overflow-y: auto;
}

@media screen and (max-width: 500px) {
    .path-tuning-component {
        top: 0;
        left: 0;
        right: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: auto;
        min-width: 300px;
        max-height: 100%;
    }

    .ptcomponent-content {
        max-height: calc(92vh - 126px);
    }
}

