:root {
    --header-height: 72px;
    --color-primary: #E22C38;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6, hr {
    padding: 0;
    margin: 0;
}

p, label, button, input {
    font-size: 1rem;
    line-height: 1rem;
}

hr {
    border: none;
    background: none;
    border-bottom: 1px solid;
}

button {
    box-sizing: border-box;
    display: inline-block;
    font-weight: 700;
    border: none;
    outline: none;
    color: var(--color-primary);
    background: transparent;
    padding: 11px 22px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;

    transition: all 0.2s;
}

button:hover {
    background: #eee;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    min-height: 700px;

    min-width: 300px;
    max-width: 500px;

    margin: 0 auto;

    position: absolute;
    top: 8px;
    right: 8px;
    left: 8px;
    bottom: 10%;

    overflow: hidden;
}

.emblem {
    position: relative;
    align-self: center;
    max-height: 33%;
    max-width: 33%;
    margin: 32px;
    margin-top: 0;
}

.emblem img {
    max-width: 100%;
}

.align-center {
    display: flex;
    justify-content: center;
}


.btn__raised {
    color: white;
    background: var(--color-primary);
}

.btn__raised:hover {
    background: #b2212b;
}



.btn-group > button {
    float: left;
    border-radius: 0;
}

.btn-group > button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-group > button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.chip-group {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: stretch; */
    gap: 5px;
    /* justify-content: center; */
    border-radius: 8px;
    overflow: hidden;
}

.chip-group > button {
    /* flex: 1; */
}



.btn__toggle {
    background: white;
    color: #262626;
}

.btn__toggle.btn__toggle--active {
    color: white;
    background: var(--color-primary);
}

.btn__icon {
    padding: 10px;
}


.btn__chip {
    background: #F5F5F5;
    color: #262626;
    font-weight: 700;
    border-radius: 8px;
}

.btn__chip.btn__chip--toggled {    
    background: #e22c381f;
    color: var(--color-primary); 
}

.field {
    height: 56px;
    width: 100%;
    position: relative;
}

.field input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    outline: none;

    padding-left: 1rem;
    padding-right: 3.5rem;

    border: 2px solid lightgrey;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.field input:focus,
.field input:valid {
    border-color: black;
}

.field label {
    position: absolute;
    top: 50%;
    left: 1rem;
    color: #999999;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.field input:focus ~ label,
.field input:valid ~ label {
    top: 0%;
    padding: 8px;
    font-size: 0.9rem;
    color: black;
    background: #fff;
}

.additional-button {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 700;
}

.btn-primary {
    padding: 16px;
}   

.btn-secondary {
    padding: 16px;

    color: #262626;
    background: #F5F5F5;
}

.btn-secondary:hover {
    background: #d8d5d5;
}

.heading-with-lines {
    overflow: hidden;
    text-align: center;
    font-size: 1.25rem;

    color: #999999;
}

.heading-with-lines:before,
.heading-with-lines:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #999999;
    position: relative;
}

.heading-with-lines::before {
    margin-left: -100%;
    left: -14px;
}

.heading-with-lines::after {
    margin-right: -100%;
    right: -14px;
}

.label {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5em;

    color: #262626;
}

.btn-holder {
    margin: 8px auto;
}

.list-item__title {
    font-size: 1rem;
    font-weight: 700;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    
    
    font-size: 0.8rem;
    color: #929292;
    text-transform: uppercase;

    padding-left: 8px;
}

.list-item__title:first-child {
    padding-top: 0;
}


.path-tuning-component1 {
    padding: 8px 15px 15px 15px;
}

.ptcomponent-content1 {
    max-height: calc(100vh - 185px);
    margin: 10px 0; 
    background: #fff;
    border-radius: 20px;
    overflow-y: auto;
}

@media screen and (max-width: 850px) {
    .ptcomponent-content1 {
        max-height: calc(100vh - 185px - 116px);
    }
}

.floating-component-bg {
    background: #FAF2EF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.map-menu {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 5;

    width: 454px;
    border-radius: 20px;
    overflow: hidden;
}

.map-header {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 5;

    border-radius: 20px;
    overflow: hidden;
}

.map-header p {
    height: 16px;
}

@media screen and (max-width: 850px) and (min-width: 520px) {
    .map-header {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: auto;
        max-width: 500px;
    }
    
    .map-menu {
        top: 64px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: auto;
        max-width: 500px;
    }
}

@media screen and (max-width: 520px) {
    .map-header {
        right: 8px;
        left: 8px;
        width: auto;
        max-width: 500px;
    }
    
    .map-menu {
        top: 64px;
        right: 8px;
        width: auto;
        max-width: 500px;
    }
}


@media screen and (min-width: 850px) {
    .hidden-on-pc {
        display: none;
    }
}


#map canvas {
    outline: none;
}

header {
    height: var(--header-height);
    background: var(--color-primary);
}

header .logo {
    width: 48px;
    height: 48px;
}

header .logo path {
    fill: white;
    
}
